#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#container {
  /* width: 100%;
  height: 100%; */
  background: #1b319f;
}

.header {
  background: #f3f2f5;

  padding: 40px;
  height: 100%;
  width: 100%;
}
.input {
  width: 260px;
  height: 50px;
  padding: 5px;
  margin: 5px;
}
input,
input::placeholder {
  text-align: center;
  font: 1rem/3 sans-serif;
}
.footer {
  padding: 20px;
  gap: 1rem;
  display: flex;
  margin: 5px;
  justify-content: center;
  border: solid black;
/* }
.footer-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */
